.layer {
    text-align: center;

    &__overlay {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffecbb;
    }

    &__content-container {
        background-color: #f5bf65;
        padding: 0 25px;
        border-radius: 5px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        position: relative;
    }

    &__closer {
        font-family: Calibri, Arial;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #ffdd87;
        border-radius: 5px;
        line-height: 1em;
        width: 20px;
        height: 20px;
        text-align: center;

        &:hover {
            background-color: #ffe6a7;
        }
    }
}