.book-content {
    background-color: papayawhip;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
}

.book--editor {
    .book-content {
        padding: 5px 10px;
    }
}